<div class="bg-main rounded-md p-4 grid grid-rows-[auto_auto_1fr] 
            text-center justify-items-center 
            transition-transform hover:-translate-y-1
            shadow-[0_2px_4px_rgb(0_0_0_/_10%)]">

  <img src="{{img}}" alt="{{alt}}" 
       class="w-full h-[180px] object-cover rounded-sm mb-3">

  <p class="text-granate font-bold text-[clamp(1rem,2vw,1.25rem)] my-2">
    {{name}}
  </p>

  <p class="text-marron text-[clamp(0.875rem,1.5vw,1rem)]">
    {{desc}}
  </p>

</div>




