<div class="footer-social">
  <a href="https://www.google.com" target="_blank" rel="noopener">
    <img src="./assets/images/google.svg" alt="Google" class="footer-social-icon">
  </a>
  <a href="https://www.facebook.com" target="_blank" rel="noopener">
    <img src="./assets/images/facebook.svg" alt="Facebook" class="footer-social-icon">
  </a>
  <a href="https://www.twitter.com" target="_blank" rel="noopener">
    <img src="./assets/images/twitter.svg" alt="Twitter" class="footer-social-icon">
  </a>
</div>


