/**
 * Use this file to import partials.
 * Do not include SCSS code in this file.
 */

  /**
 * Import tailwind
 */
 @import "tailwind.css";

  /**
 * Import utilities
 */
 @import "utilities";



/**
 * Do NOT include anything else in this file!
 */
